 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lalo Gym</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div style="background-color: ghostwhite">
    <!--first div-->
    <div>

    </div>


    <!--second div-->
    <div>

    </div>


    <!--third div-->
    <div style="background-color: ghostwhite">
    <h2 style="color: black">MISSION</h2>
        <p style="color: black">At Lennix Gym, our mission is to <br>
        empower individuals, to achieve their <br>
        optimal health and fitness goals. We are <br>
        dedicated to providing a welcoming and <br>
        inclusive environment where individuals <br>
        of all fitness levels can thrive and <br>
        transform their lives through exercise <br>
        and wellness. </p>

    </div>


    <!--fourth div-->
    <div style="background-color: ghostwhite">
    <h2 style="color: black">STORY</h2>
        <p style="color: black">
            Our main focus at Lennix Fitness is <br>
            functional training because of the proven  <br>
            benefits. With an emphasis on mobility, <br>
            strength, and conditioning, the benefits of <br>
            functional training differ from other <br>
            workouts because of the way it targets <br>
            your body. <br>
        </p>


    </div>

    <!--fifth div-->
    <div style="background-color: ghostwhite">
    <h2 style="color: black">APPROACH</h2>
    <h6 style="color: black">INNOVATION + MOTIVATION = RESULts</h6>
        <p style="color: black">
            We are a hybrid gym and training facility.
            We have clean, state of the art facilities
            with the most knowledgeable staff and
            cutting-edge training methods. We offer
            open gym, team training, group classes,
            boxing, cycle and personal training.

        </p>

    </div>

    <!--sixth div-->
    <div style="background-color: ghostwhite">

    <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://atlantisstrength.com/app/uploads/2022/02/gym-equipment-scaled-1920x1080.jpg" alt="Los Angeles" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH5Ua1QSnAdC8g4cL7Tyhd8B2MY_6icbDGV8W4VQw6up8GXjjwmDOD-3m6dgtiqOymz20&usqp=CAU" alt="Chicago" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa8xpcaHA9cc5AMEfo3wBRwAcYMeMRlQFaS5sVee2p5w&s" alt="New York" class="d-block w-100">
        </div>
      </div>
       <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
      <!--  </div> -->

        <h2 style="color: black">EQUIPMENT</h2>
        <p style="color: black">
             Give your workout more variety than ever with our accessories, from  <br>
            warmup to cooldown. Increase your body’s capacities every day, <br>
            from stability to mobility, from power to speed. <br>
        </p>
    </div>



</div>









<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
 </html>