{% extends 'base.html' %}
{% block content %}
     <form action="/action_page.php">
    <div class="mb-3 mt-3">
    <label for="first_name" class="form-label">Name:</label>
    <input type="frstname" class="form-control" id="fname" placeholder="Enter First Name" name="name">
    <label for="first_name" class="form-label">Age:</label>
    <input type="frstname" class="form-control" id="fname" placeholder="Enter First Name" name="age">
    <label for="first_name" class="form-label">Country:</label>
    <input type="frstname" class="form-control" id="fname" placeholder="Enter First Name" name="country">
      <input class="form-check-input" type="checkbox" name="remember"> Remember me
    </label>
  </div>
        <button type="submit" class="btn btn-primary">Submit</button></div>
    </form>

{% endblock %}